<!--video 2 starting at 15:00
start project from here
-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div>
        <h2 class="text-left">Add Pokemon</h2>
    </div>
    <br>
    <form name="form" method="post" action="{% url 'addPokemon' %}">
    {% csrf_token %}
    <label for="first_name" > Poke Name:</label>
    <input type="text" name="first_name" id="first_name" autofocus>
    <br><br>

    <label for="last_name" > last name:</label>
    <input type="text" name="last_name" id="last_name" >
    <br><br>

    

    <button type="submit">Update</button>
    </form>



</div>

{% endblock %}
