{%extends 'base.html'%}
{% load static %}
{%block content%}
        <h1><b>Pokemon List</b></h1>
        <a class="btn btn-primary" href="{% url 'addPokemon' %}">New Pokemon</a>

        <div class="container">
            {% for pokemon in poke%}
            <p>
            <a class="btn btn-primary" href="{% url 'showSinglePokemon' pokemon_id=pokemon.pokemon_id %}">Edit</a>
                Name: {{ pokemon.name }} <br> Description: {{ pokemon.description }} <br> Type: {{ pokemon.type }}
                <a class="btn btn-primary" href="{% url 'deletePokemon' pokemon_id=pokemon.pokemon_id %}" onclick="return confirm('Are you sure?')">Delete</a>
            </p>
            {% endfor %}
        </div>
         
{%endblock%}